/* Base */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #82837E;
}

* {
  box-sizing: border-box;
}

h2, h3 {
  margin: 0;
  font-family: 'PT Serif', serif;
  color: #424242;
}

/* Navigation */

.navTop {
  position: fixed;
  color: #F2F2F2;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  padding: 0 10px 0 0;
  width: 100%;
  opacity: 0;
  box-shadow: 0 0 1px #424242;
  z-index: 800;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navTop.is-translucent {
  opacity: 1;
  background-color: rgba(50,153,187,0.8);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navTop .navTop-logo {
  display: inline-block;
  color: #F2F2F2;
  text-decoration: none;
  height: 50px;
  padding: 0 20px;
}

.navTop-logo img {
  height: 50px;
}

.navTop .navTop-links {
  float: right;
  height: 50px;
  text-align: right;
}

.navTop-links a {
  float: left;
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #F2F2F2;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 10px;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navTop-links a.is-active {
  background-color: rgba(0,0,0,0.3);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navTop-links a:hover {

}

/* Content Container */

.contentContainer {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
}

/* Content Separator */
.contentSeparator {
  margin-bottom: 20px;
  height: 20px;
  text-align: center;
}

.contentSeparator .box {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #3299BB;
}

.box.box-top {
  margin-bottom: 10px;
}

.box.box-bottom {
  margin-top: 10px;
}

.box.box-blank {
  background-color: transparent;
}

/* Cover */

#cover.contentBlock {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  box-shadow: 0 0 1px #424242;
  margin-bottom: 50px;
  box-sizing: content-box;
}

#cover .contentContainer {
  background-color: rgba(0,0,0,0.2);
  padding: 150px 30px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#cover h1 {
  margin: 0;
  color: #F2F2F2;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-shadow: 0 0 8px #424242;
  font-weight: normal;
  font-family: 'Petit Formal Script', cursive;
}

#cover h2 {
  margin: 0;
  color: #F2F2F2;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 5px #424242;
}

#cover .arrowDown {
  display: inline-block;
  margin: 20px;
  background-color: #3299BB;
  border-radius: 46px;
  height: 46px;
  width: 46px;
}

.arrowDown span {
  display: block;
  margin: 20px auto;
  width: 8px;
  height: 8px;
  border-left: 8px solid #3299BB;
  border-right: 8px solid #3299BB;
  border-top: 8px solid #F2F2F2;
}

#cover .arrowDown:hover {
  background-color: #F2F2F2;
}

.arrowDown:hover span {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #3299BB;
}

.contentContainer h3 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px #BCBCBC;
}

/* Why */

#why p {
  font-size: 20px;
  line-height: 30px;
  font-family: 'PT Serif', serif;
}

#why p:last-child {
  margin-bottom: 0;
}

/* How */

#how ol.manifestoList {
  margin: 0;
  padding: 0;
}

ol.manifestoList li.manifestoList-item {
  margin: 0 0 40px 0;
  list-style: none;
  font-family: 'PT Serif', serif;
  color: #82837E;
}

ol.manifestoList li.manifestoList-item:last-child {
  margin-bottom: 0;
}

li.manifestoList-item .manifestoList-number {
  float: left;
  display: block;
  font-family: 'Petit Formal Script', cursive;
  font-size: 48px;
  line-height: 48px;
  color: #3299BB;
}

.manifestoList-desc {
  margin-left: 60px;
}

.manifestoList-desc h4 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 32px;
  color: #424242;
}

/* What */

#what .projectContainer {
  margin-bottom: 40px;
  background-color: #F2F2F2;
  background-size: cover;
  background-position: top center;
  border-radius: 5px;
}

#what .contentContainer .projectContainer:last-child {
  margin-bottom: 0;
}

#what a.project {
  display: block;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  height: 300px;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #E9E9E9;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#what a.project:hover {
  background-color: rgba(0,0,0,0);
  border-color: #3299BB;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.project-info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  padding: 20px;
  z-index: 500;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.project-info h5 {
  margin: 0;
  font-size: 24px;
  color: #F2F2F2;
  text-shadow: 0 0 8px #424242;
}

.project-info p {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  color: #F2F2F2;
  text-shadow: 0 0 8px #424242;
}

/* Who */

#who .contentContainer {
  padding-bottom: 40px;
}

.teamMemberList {
  margin: auto;
  padding-bottom: 20px;
  overflow: auto;
  zoom: 1;
}

.teamMemberList:after {
  clear:both;
}

.teamMember {
  float: left;
  width: 200px;
  margin: 0 20px 40px 0;
  text-align: center;
}

.teamMember h5 {
  font-size: 24px;
  margin: 10px 0;
  color: #424242;
}

.teamMember p {
  margin: 0;
  font-size: 16px;
  font-family: 'PT Serif', serif;
  line-height: 24px;
}

.teamMember p strong {
  color: #3299BB;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.teamMember:nth-child(3n+3) {
  margin-right: 0;
}

img.teamMember-avatar {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  object-fit: cover;
  border: 3px solid #E9E9E9;
}

/* Footer Bottom */
.footerBottom {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.footerBottom h5 {
  margin: 30px 0;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 20px;
}

/* Button */
.button {
  display: inline-block;
  text-decoration: none;
  color: #F2F2F2;
  background-color: rgba(50,153,187,0.8);
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
}

.button:hover {
  color: #E9E9E9;
  background-color: #3299BB;
}

.footerBottom p {
  margin: 30px 0 0 0;
  font-size: 16px;
  color: #E9E9E9;
}

/* Responsive Styles */

@media only screen and (max-width: 480px) {

  body {
    -webkit-background-size: 1200px 750px;
  }

  .navTop-links a {
    padding: 0 8px;
    font-size: 14px;
  }

  .navTop .navTop-logo {
    padding: 0 5px;
  }

  .navTop-logo img {
    padding: 5px 0;
  }

  .contentContainer,
  #cover .contentContainer{
    padding-left: 20px;
    padding-right: 20px;
  }

  #cover h1 {
    font-size: 20px;
    line-height: 30px;
  }

  #cover h2 {
    font-size: 40px;
    line-height: 60px;
  }

  #who .teamMemberList {
    width: 100%;
  }

  #who .teamMember {
    width: 100%;
  }

  #who .teamMember:nth-child(3n+3) {
    margin-right: 0;
  }

  #who .teamMember:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {

  body {
    -webkit-background-size: 1200px 750px;
  }

  .contentContainer,
  #cover .contentContainer{
    padding-left: 20px;
    padding-right: 20px;
  }

  #who .teamMemberList {
    width: 420px;
  }

  #who .teamMember:nth-child(3n+3) {
    margin-right: 20px;
  }

  #who .teamMember:nth-child(2n+2) {
    margin-right: 0;
  }

}


